/* Personal CSS */

.main{
    padding: 20px;
}
.stuff {
    padding: 1rem;
}

.other {
    padding: 1rem;
}

.l1rem {
    padding-left: 1rem;
}


.footer {
    text-align: center;
    background: #1EAEDB;
    margin top: 1rem;
    color: white;
}

nav {
    text-align: center;
    
}

.title {
    text-align: center;
    background: #1EAEDB;
    color: white;
    margin-bottom:;
    padding:;
}


li { 
    display: inline-block;
}

.header {
  height: 81vh;
  background-image:url("C:/Users/dapitts/Desktop/Website/Skeleton_Test/images/potatoes.jpg");
  background-size: cover;
  background-position: center;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 2rem;
}

.header2 {
  height: 81vh;
  background-image:url(C:/Users/dapitts/Desktop/Website/Skeleton_Test/images/charcuterie.jpg);
  background-size: cover;
  background-position: center;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 2rem;
}
